/** 
 * Стили для комментариев 
 */
 
.comments_form{padding-top:0px;}
.comments_form h2.title{color:#AFA56A;margin-bottom:20px;background: url(/i/add_comment.gif) 0 .5em no-repeat;padding-left:23px;font-size:20px;font-family: Verdana, sans-serif;letter-spacing: -1px;}
.comments_form h2.title a{text-decoration:none;border-bottom:1px dashed;color:#AFA56A;}

#comments_form .editor{margin-bottom:5px;}

#preview_placeholder{border:5px solid #D6D6D6;padding:10px;margin-bottom:20px;}

.for_users_only_msg{font-size:14px;}

.comments_list .searched-item{background: lemonChiffon;}

.comments_list{position:relative;overflow:hidden;padding-left:20px;margin-left:-20px;margin-top:40px;}
.comments_list h2.title{color:#AFA56A;margin-bottom:20px; background: url(/i/comments.gif) no-repeat left 65%;padding-left:23px;font-size:20px;font-family: Verdana, sans-serif;letter-spacing: -1px;}
.comments_list h2.title .subscribe_comments{font-size:12px;cursor:pointer;color:#999999;margin-left:2px;}

.comments_list .comment_item{}
.comments_list .comment_item .author_banned{margin-bottom: 20px;font: normal 16px/110% Verdana,sans-serif;color: #666;}
.comments_list .comment_item .info{font-size:11px;font-family:tahoma,sans-serif;line-height:18px;}
.comments_list .comment_item .info.is_new{background:#E8E8FF;}
.comments_list .comment_item .info.is_author{background:#FDF5E6;}
.comments_list .comment_item .info .voting{float:right;margin-top:4px;margin-right:2px;}

/* еще не голосовал - не подсвечиваем ни чего. стрелки обычные, не затененные. */
.comments_list .comment_item .info .voting .plus{width:13px;height:13px;display:block;float:right;margin-top:4px;margin-left:5px;}
.comments_list .comment_item .info .voting .minus{width:13px;height:13px;display:block;float:right;margin-top:4px;margin-left:15px}

.comments_list .comment_item .info .voting a.plus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat right top;}
.comments_list .comment_item .info .voting a.minus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat left top;}
.comments_list .comment_item .info .voting a:hover.plus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat right -13px ;}
.comments_list .comment_item .info .voting a:hover.minus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat left -13px ;}

/** когда голосовать уже нельзя  **/
.comments_list .comment_item .info .voting span.plus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat  right bottom ;}
.comments_list .comment_item .info .voting span.minus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat  left bottom ;}

/* проголосовал в плюс - подсвечиваем стрелку вверх и затемняем стрелку вниз*/
.comments_list .comment_item .info .voting.voted_plus a.plus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat  right -26px ;}
.comments_list .comment_item .info .voting.voted_plus span.plus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat  right -26px ;}
.comments_list .comment_item .info .voting.voted_plus a.minus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat  left bottom ;}
.comments_list .comment_item .info .voting.voted_plus span.minus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat  left bottom ;}

/* проголосовал в минус - подсвечиваем стрелку вниз и затемняем стрелку вверх */
.comments_list .comment_item .info .voting.voted_minus a.plus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat  right bottom ;}
.comments_list .comment_item .info .voting.voted_minus span.plus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat  right bottom ;}
.comments_list .comment_item .info .voting.voted_minus a.minus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat  left -26px ;}
.comments_list .comment_item .info .voting.voted_minus span.minus{background:url("/i/icos/icons_vote_comments_4modes.png") no-repeat  left -26px ;}

/* общий балл не известен */
.comments_list .comment_item .info .voting .mark{float:right;color:#A9A9A9;font-weight:bold;padding-top:2px;font-size:13px;font-family:Arial, Helvetica, sans-serif;}
.comments_list .comment_item .info .voting .mark span{color:#A9A9A9;}
.comments_list .comment_item .info .voting .mark a{text-decoration:none;color:#A9A9A9;}
/* общий бал выше нуля */
.comments_list .comment_item .info .voting .mark.positive span{color:#339900;}
/* общий балл - ниже нуля */
.comments_list .comment_item .info .voting .mark.negative span{color:#CC0000;}
.comments_list .comment_item .info a.avatar{float:left;margin-right:10px;width:24px;height:24px;display:block;overflow:hidden;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.comments_list .comment_item .info a.avatar img{display:block;width:24px;height:24px;}
.comments_list .comment_item .info a.username{float:left;margin-top:5px;margin-right:10px;display:block;color:#666666;font-weight:bold;}
.comments_list .comment_item .info a:hover.username{color:#333;}
.comments_list .comment_item .info time{display:block;margin-top:6px;font-size:10px;color:#666666;float:left;margin-right:10px;}
.comments_list .comment_item .info a.link_to_comment{display:block;margin-top:6px;font-size:11px;float:left;margin-right:10px;}
.comments_list .comment_item .info a.favorite{display:block;float:left;margin-top:8px;margin-right:10px;width:15px;height:13px;background:url("data:image/gif;base64,R0lGODlhDwAaAOZ/APr7/LnO3bXL2uK7Vvz58NLu9friZ/z69arD0tXl7eHr8uL1+tLv89v09921Uf3phfzjcMra5dvl68nX4ef1+fz589rt9e79/+v7/Ka+zs7h6tny9d3EmqjAz+rQc+ft8d/1+PTjttSycvb///f6+/vx0rzR3vL2+P/////4rub5+/3qjf/zlu/0+fH5/MmdQtLh7PfYWP3oe83a4u/jzdi9ke3Ma8aaSbvN2r/T4PXdfunXs+LGivHWh/jbWuT4+a7K2dy2X8qbO8PW4sTc6fjaX/bUU/fUXOr6+9+5Y9bx89u1V//ukOLz9v/2usfV3uTAZ/z369GmQv/yr9yyRNDr9c3r87+RPP/4pPjgbPHWfOfCW8ygQ/zsl+jMc+jKeN719vLZgPjdXPP//7nL19yzUP/wjdCtbvzmcuXIb///x9Ho8vjkou/WgJy3x/HUafznd/nlh9WmPLXQ3fv48t67XdDj7P3pgPnx4Mrd6fjcWtewW/fw3/z46+LCcwAAACH5BAEAAH8ALAAAAAAPABoAAAf/gH+Cgy0KLYOIiTAuMImOJBEoESSOiAoJIwkKjkMmAZ8UF00CpAI5gjkuIxhIKio/CyAYFAGCJwEJYz9gDRsNFxoCJ4MAESYgSgwMGwETAIkACAwFDQVWGc+JEnMFC3YLVUASjjhrFgg4CBZEZI4dGh0ffx8ZeW6OMzPZfwATT5WCSrApARBRDyc9CgrqY0ONjSgKQ4RJoSVEIgJfBmgcsIJFHAcgy/ghQADKlBRMVjy4IwMOBDNdghD4gydJGywyIBjYycLDHj6DDvCog0aMHh9ZlvCokKiClBg+IMQwIoSOox1Uijzw8OCInB2ORLzRwUXECx1bzghCMeiFlxs0EP7QuJHmiiMOHA4ErVFjUCAAOw==");}
.comments_list .comment_item .info a.favorite.add{background-position: left top;}
.comments_list .comment_item .info a.favorite.remove{background-position: left bottom;}
.comments_list .comment_item .info a.to_parent{display:block;float:left;margin-top:5px;}
.comments_list .comment_item .info {position:relative;}
.comments_list .comment_item:hover > .info > .folding-dot-holder{display:block;}
.comments_list .comment_item .info .folding-dot-holder{display:none;position:absolute;top:0;left:0;width:1px;height:1px;}
.comments_list .comment_item .info .folding-dot{width:500px;height:5px;background:red;right:1px;top:9px;position:absolute;background: url(/i/bg-folding-dot-light.png) repeat-x 100% 0;}

.comments_list .comment_item .message{font-size:13px;font-family: Arial, sans-serif;line-height:140%;padding-bottom:5px;padding-top:10px;}

.comments_list .comment_item .message.bad5 { opacity: 0.2;background:#fff;  }
.comments_list .comment_item .message.bad4 { opacity: 0.35;background:#fff; }
.comments_list .comment_item .message.bad3 { opacity: 0.5;background:#fff;  }
.comments_list .comment_item .message.bad2 { opacity: 0.65;background:#fff; }
.comments_list .comment_item .message.bad1 { opacity: 0.8;background:#fff;  }

.comments_list .comment_item .reply{}
.comments_list .comment_item .reply a.reply{font-size:11px;text-decoration:none;border-bottom:1px dashed #6DA3BD;}
.comments_list .comment_item .reply a:hover.reply{border-bottom:1px dashed #4d7285;}
.comments_list .comment_item .reply form{padding-top:20px;}
.comments_list .comment_item .reply_comments{margin-top:20px;}

/*.comments_list > .comment:last-child > .reply_comments{margin-top:0px;}*/
.comments_list .comment_item .reply_comments .comment_item{margin-left:20px;}
/* на 14 уровне отступ уже не нужен */
.comments_list .comment_item .reply_comments .comment_item /* второй уровень */
                                         .comment_item
                                          .comment_item
                                           .comment_item
                                            .comment_item
                                             .comment_item
                                              .comment_item
                                               .comment_item
                                                .comment_item
                                                 .comment_item
                                                  .comment_item
                                                   .comment_item 
                                                    .comment_item{margin-left:0;} /* 14 уровень */

/* Comments Plain */
.comments_list .comment_item_plain{overflow: hidden;margin-bottom:10px;}
.comments_list .comment_item_plain .post_info{font-family: Tahoma, sans-serif;font-size: 10px;margin-bottom:5px;width:140px;float:left;}
.comments_list .comment_item_plain .post_info .count{color:red;}
.comments_list .comment_item_plain .comment_item{margin-left:150px;}                                                    
.comments_list .comment_item_plain .comment_item .info{overflow: hidden;}
                                                    
/**
 * X-Panel
 * фича справа или слева для обновления комментариев.
 */
#xpanel{width:32px;position:fixed;top:50%;opacity:0.5;background: #999999;}
#xpanel:hover{opacity:1;}
#xpanel .change{color:#666;font-size:12px;text-decoration:none;padding:0px 10px;position:absolute;left:0;top:-15px}
#xpanel .divider{border-top: solid 1px #5c5c5c;border-bottom: solid 1px #dddddd;width: 28px;height: 0px;margin:0 auto;}
#xpanel .refresh{display:block;background:url("/i/comments/bar/refresh.gif") no-repeat left top;width:28px;margin:2px;height:28px;}  
#xpanel .refresh.loading{background:url("/i/comments/bar/refresh-loading.gif") no-repeat left top;}
#xpanel .new{text-decoration:none;display: block;color:#fff;font-size:12px;padding:0;padding-top:4px;padding-bottom:6px;width:34px;text-align:center;}