/**
 * Стили для элементов формБазовые стили.
 */ 
 
 
 
input, select, textarea{font-family:verdana, sans-serif;font-size:12px;}
 
form{}
form .item{margin-bottom:25px;}
form .item:last-child{margin-bottom:0px;}
form .item label{font-size:13px;display:block;color:#383838;margin-bottom:1px;}
form .item input[type="password"],
form .item input[type="text"]{display:block;margin-bottom:5px;width:99%;border:1px solid #dcdcdc;padding:3px;}
form .item textarea{height:200px;width:99%;}

form .item input[type="password"]:disabled,
form .item input[type="text"]:disabled,
form .item textarea:disabled{border:1px solid #ddd;background:#eee;color:#bbb;}

form .item .error{color:red;margin-bottom:5px;display:none;}
form .item .description{font-size:11px;color:#9a9a9a;}
form .item .checkbox_list{overflow: hidden;margin-top:10px;}
form .item .checkbox_list label{float:left;width:50%;display:block;}
form .item .checkbox_list label input{}
form .item.one_column .checkbox_list{}
form .item.one_column .checkbox_list label{float: none;width: auto;margin-bottom:10px;}

form .item.required label b{font-weight: normal;}
form .item.required label b:after{
	content: '*';
	vertical-align: top;
	font-size: 11px;
	color:#666;
}


form .item .checkbox_single{overflow: hidden;margin-bottom:10px;}
form .item .checkbox_single label{float:left;display:block;margin:0;}
form .item .checkbox_single label input{}
form .item .checkbox_in_label{}
form .item .checkbox_in_label label{display: inline;}
form .item .iframe_uploader{border:0;overflow: hidden}
form .item .iframe_uploader_preview{overflow:hidden;}
form .item .iframe_uploader_preview .image{float: left;position:relative;margin-bottom: 10px;max-width:100%;}
form .item .iframe_uploader_preview .image .delete{display:none;position: absolute;right:5px;top:5px;float:right;padding:2px 5px;background:#666;color:#fff;cursor:pointer;opacity:0.9;}
form .item .iframe_uploader_preview .image .delete:hover{background:darkred;}
form .item .iframe_uploader_preview .image:hover .delete{display:block;}
form .item .iframe_uploader_preview .image img{max-width: 100%;min-width:30px;}







/* textarea + wysiwyg */
.editor{}
.editor .panel{background:#eee;overflow:hidden;padding:2px 5px;}
.editor .panel > a{display:block;float:left;}
.editor .panel .can_use_html{float:right;font-size:10px;margin-top:4px;margin-right:5px;color:#666;}
.editor .panel .can_use_html a{border-bottom:1px dashed;text-decoration:none;}
.editor .panel .help_holder{padding:10px;}
.editor .panel .help_holder h4:first-child{margin-top:0;clear:both;padding-top:10px;font-size:16px;}
.editor .panel .help_holder h4{font-weight:bold;font-size:12px;margin-bottom:10px;margin-top:20px;color:#666;}
.editor .panel .help_holder dl{font-size:11px;margin-bottom:10px;}
.editor .panel .help_holder dl dt{color:#000;font-weight:bold;}
.editor .panel .help_holder dl dd{color:#666;}
.editor .panel .wysiwyg_wrapper .with-title{display:block;float:left;margin:0;padding:0;margin-top:1px;margin-right:15px;}
.editor .panel .wysiwyg_wrapper > a{display:block;float:left;}
.editor .text-holder{border:1px solid #dcdcdc;padding:2px;}
.editor .text-holder textarea{width:99%;border:0;margin:0;font-size:12px;outline:none;}


/* image uploader */
.img_uploader{border:1px solid #efefef;width:300px;height:60px;text-align:center;overflow:hidden;padding:5px;}
.img_uploader img{display:block;margin-bottom:5px;margin:0 auto;}
.img_uploader a.upload_again{text-decoration:none;border-bottom:1px dashed;line-height:20px;font-size:10px;}

.upload_form{background:#fff;width:278px;height:40px;border:0px solid red;text-align:left;padding:10px;}
.upload_form .progress{height:5px;border:1px solid #eee;margin-top:5px;}
.upload_form .progress .bar{height:5px;width:0%;background:#aaa;background: url(/i/form/loader_button.gif) repeat-x 0 0;}
.upload_form .state{font-size:9px;color:#666;}

/* предпросмотр */
.preview_placeholder{margin-bottom:20px;font-size:12px;padding:10px;border:4px solid #eee;}










